<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>barryallen@gmail.com</key>
	<string>barry@flash</string>
	<key>joewest@gmail.com</key>
	<string>joe$west</string>
	<key>admin@gmail.com</key>
	<string>admin@123</string>
	<key>rob.s@gmail.com</key>
	<string>ram@123</string>
	<key>sarah@gmail.com</key>
	<string>Sarah321</string>
</dict>
</plist>
